<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="jumbotron">
			<h1>
				CC Calc
			</h1>
			<p>
				This very simple calculator will help you decide on your chances in a fight. Also, it may (depend on your stats) give you a hint about what todo to improve.<br />
			This is a very simple calculator and its not even in beta yet, so suggestions for improvements would be nice.
			</p>			
			<h4><small>Enjoy<br />&nbsp;&nbsp;-&nbsp; Nyvang</small></h4>
		</div>
	</div>
</div>