<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="jumbotron">
			<h1>
				CC Calc
			</h1>
			<p>
				This very simple calculator will help you decide on your chances in a fight. 
			</p>
			<p>
			The CC-Calculator is a purely a project of interest. And I´m doing it to explore AngularJS in a "real" project, as oposed to doing tutorials where every answer is given in advance. 
			<br />
			It happens so, that I love a great challenge and especially to get aquinted with new technologies and frameworks. <br /><br />
			<b>$(this).is('suchProject');</b>
			</p>			
			<h4><small>Enjoy<br />&nbsp;&nbsp;-&nbsp; Nyvang</small></h4>
		</div>
	</div>
</div>